@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-ubuntu: "Ubuntu", serif;

  --color-primary-marine-blue: hsl(213, 96%, 18%);
  --color-primary-purplish-blue: hsl(243, 100%, 62%);
  --color-primary-pastel-blue: hsl(228, 100%, 84%);
  --color-primary-light-blue: hsl(206, 94%, 87%);
  --color-primary-strawberry-red: hsl(354, 84%, 57%);

  --color-neutral-cool-gray: hsl(231, 11%, 63%);
  --color-neutral-light-gray: hsl(229, 24%, 87%);
  --color-neutral-magnolay: hsl(217, 100%, 97%);
  --color-neutral-alabaster: hsl(231, 100%, 99%);
}

@layer base {
  body {
    @apply bg-neutral-alabaster font-ubuntu;
  }

  h1 {
    @apply text-3xl font-bold text-primary-marine-blue;
  }

  p {
    @apply text-neutral-cool-gray;
  }

  div {
    @apply text-neutral-cool-gray;
  }
}

@layer components {
  .wrapper {
    @apply max-w-[768px] mx-auto px-6;
  }

  .form-label {
    @apply text-primary-marine-blue capitalize;
  }

  .form-input {
    @apply w-full outline-primary-purplish-blue focus:outline-[0.5px] p-3 border-1 border-neutral-light-gray rounded-lg text-neutral-cool-gray;
  }

  .cta-1 {
    @apply bg-primary-marine-blue text-white  capitalize px-4 py-2 rounded-md hover:bg-primary-purplish-blue transition-all duration-200;
  }
}
